<div class="detail-card" fxLayout="column" style="margin:20px auto 0 auto; max-width: 900px;">
  <div fxLayout="row">
    <h2 fxFlex="50">Kit {{item.nombre}}</h2>
    <div fxFlex="50" fxLayoutAlign="end end">
      <button mat-raised-button color="primary" routerLink="./edit">Editar</button>
      <button mat-raised-button color="warn" fxFlexOffset="10px" (click)="delete()">Borrar</button>
    </div>
  </div>
  <div style="margin-left: 30px">
    <div class="atributo-container">
      <p class="atributo">Precio</p>
      <p>$ {{item.precio}}</p>
    </div>
    <div class="atributo-container">
      <p class="atributo">Descripción</p>
      <p>{{item.descripcion}}</p>
    </div>
    <div class="atributo-container">
      <p class="atributo">Fecha de creación</p>
      <p>{{item.fechaRegistro | date:'d/MMM/y h:mm a'}} </p>
    </div>
    <div class="atributo-container">
      <p class="atributo">Manual</p>
      <p *ngIf="item.manual" ><a target="_blank" href="{{item.manual}}">Ver manual</a> </p>
      <input type="file"  accept=".pdf" (change)="upload($event)">
    </div>
  </div>


</div>