<div fxLayout="column" fxLayoutAlign="center center" style="width:100%; height:100%">
  <h1>Talentics Admin</h1>
  <h2>Login</h2>
  <div>
    <form fxFlex="400px" fxLayout="column" fxLayoutAlign="center center" (submit)="login()" [formGroup]="form">
      <mat-form-field style="width:100%">
        <input matInput placeholder="Email" formControlName="email" ng-default-control>
        <mat-error *ngIf="form.controls.email.hasError('required')">Requerido</mat-error>
        <mat-error *ngIf="form.controls.email.hasError('domain')&&!form.controls.email.hasError('required')">Dominio debe ser '@talentics.mx'</mat-error>
      </mat-form-field>
      <mat-form-field style="width:100%" fxFlexOffset="10px">
        <input matInput type="password" placeholder="Password" formControlName="password" ng-default-control>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid||isWorking" >
       
        <ng-container *ngIf="isWorking">Trabajando</ng-container>
        <ng-container *ngIf="!isWorking"> Entrar</ng-container>
      </button>
      <a fxFlexOffset="5px" routerLink="/register">Registrarte</a>
      <a fxFlexOffset="5px" routerLink="/register">¿Olvidaste tu contraseña?</a>
    </form>

  </div>


</div>