<div fxLayout="column" style="margin:20px">
    <div fxLayout="row">
      <h2 fxFlex="50">Componente {{item.nombre}}</h2>
      <div fxFlex="50" fxLayoutAlign="end end">
        <button mat-raised-button color="primary" routerLink="./edit">Editar</button>
        <button mat-raised-button color="warn" fxFlexOffset="10px" (click)="delete()">Borrar</button>
      </div>
    </div>
    <div>
      <h3>Precio</h3>
      <h6>$ {{item.precio}}</h6>
    </div>
    <div>
      <h3>Descripción</h3>
      <h6>{{item.descripcion}}</h6>
    </div>
    <div>
      <h3>Fecha de creación</h3>
      <h6>{{item.fechaRegistro | date:'d/MMM/y h:mm a'}} </h6>
    </div>
    
  
  </div>