<div fxLayout="column" fxLayoutAlign="flex-start center" style="width:100%; min-height:100vh">
    <div class="title-bar" fxLayout="column" fxLayoutAlign="center center">
      <h1>Talentics Admin</h1>
    </div>

    <div fxFlex fxLayoutAlign="center center">
      <form fxLayout="column" fxLayoutAlign="space-between center" (submit)="request()" [formGroup]="form" style="border: 3px #38acda solid; width: 400px; padding-bottom: 20px; min-height: 250px">
        <div class="title-bar" style="text-align: center; margin-bottom: 20px">
          <h2>Recuperar contraseña</h2>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" style="min-width: 300px;">
          <mat-form-field style="width:100%">
            <input matInput placeholder="Email" formControlName="email" ng-default-control>
            <mat-error *ngIf="form.controls.email.hasError('required')">Requerido</mat-error>
            <mat-error *ngIf="form.controls.email.hasError('domain')&&!form.controls.email.hasError('required')">Dominio debe ser '@talentics.mx'</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid||isWorking" > 
          <ng-container *ngIf="isWorking">Trabajando</ng-container>
          <ng-container *ngIf="!isWorking"> Solicitar código</ng-container>
        </button>
        <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 20px">
          <a class="link" fxFlexOffset="5px" routerLink="/login">Iniciar sesión</a>
        </div>
      </form>
  
    </div>
  
  
  </div>