<div class="container" fxLayout="column">
  <div *ngIf="authService.user | async as user" fxLayout="row" fxLayoutAlign="center center" class="primary-bg">
    <div fxFlex="30" fxLayoutAlign="start center" >
      <img src="/assets/img/logo.png" width="80px" style="cursor:pointer">
    </div>
    <div fxFlex="40" fxLayoutAlign="center center" routerLink="/dashboard">
      <h1 class="margin-10" style="cursor:pointer;">
        Talentics Admin
      </h1>
    </div>
    <div fxFlex="20" fxLayoutAlign="end center">
      Iniciado como: {{user.email}}
      <a fxFlexOffset="10px" routerLink="logout">
        <mat-icon>call_made</mat-icon>
      </a>

    </div>
    <div fxFlex="10" fxLayoutAlign="end center">

    </div>
  </div>
  <router-outlet></router-outlet>

</div>